.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  margin-top: 10vh;
  height: 15vmin;
  pointer-events: none;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: max-content;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image {
  border-radius: 36vh;
  height: 15vh;
}

.home-button {
  border-radius: 1.6vh;
  margin-bottom: 5vh;
  min-width: 200px;
  line-height: 1.1em;
  padding: 0.5em;
  color: rgb(218, 223, 228);
  font-weight: bolder;
  font-size: x-large;
  background-color: rgb(83, 115, 241);
}

.form {
  color: rgb(218, 223, 228);
  text-align: center;
  width: 100%;
  padding: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  border-radius: 3vh;
}

.formInput {
  padding: 2vh;
  border-radius: 2vh;
  margin-top: 3vh;
  margin-bottom: 2vh;
  font-weight: bolder;
  font-size: x-large;
  background-color: rgb(83, 115, 241);
  color: rgb(218, 223, 228);

}

#profile {
  color: white;
}

#headerSection {
  background-color: rgb(17, 108, 220);
  width: 100vw;
  position: absolute;
  top: 0;
}